pipelines/pl_ingest.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"LS_SQL":{"type":"string"},"AzureDataLakeStorage1":{"type":"string"},"RestService1":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/pipeline1')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"lookup_sql_config","type":"Lookup","dependsOn":[{"activity":"Set variable2","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":"SELECT * FROM dbo.SourceConfig \n","queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"AzureSqlTable1","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"Switch_SourceType","type":"Switch","state":"Inactive","onInactiveMarkAs":"Succeeded","dependsOn":[{"activity":"Set variable3","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"on":{"value":"@variables('var_sourceType') ","type":"Expression"},"cases":[{"value":"SQL","activities":[{"name":"Execute Pipeline2","type":"ExecutePipeline","dependsOn":[],"policy":{"secureInput":false},"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"sql_2_adls","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{"directory":{"value":"@pipeline().parameters.directory","type":"Expression"},"fileName":{"value":"@pipeline().parameters.fileName","type":"Expression"},"sourceType":{"value":"@pipeline().parameters.sourceType","type":"Expression"}}}}]},{"value":"REST","activities":[{"name":"Execute Pipeline3","type":"ExecutePipeline","dependsOn":[],"policy":{"secureInput":false},"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"sql_2_REST","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{"directory":{"value":"@pipeline().parameters.directory","type":"Expression"},"fileName":{"value":"@pipeline().parameters.fileName","type":"Expression"},"relativeUrl":"users"}}}]},{"value":"FTP","activities":[{"name":"Execute Pipeline4","type":"ExecutePipeline","dependsOn":[],"policy":{"secureInput":false},"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"sql_2_ftp","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{"directory":{"value":"@variables('var_directory')","type":"Expression"},"fileName":{"value":"@variables('var_fileName')","type":"Expression"}}}}]}]}},{"name":"Set variable2","type":"SetVariable","dependsOn":[],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"v_startTime","value":{"value":"@utcNow()","type":"Expression"}}},{"name":"Set variable3","type":"SetVariable","state":"Inactive","onInactiveMarkAs":"Succeeded","dependsOn":[{"activity":"ForEach1","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"v_endTime","value":{"value":"@utcNow()","type":"Expression"}}},{"name":"ForEach1","type":"ForEach","dependsOn":[{"activity":"lookup_sql_config","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('lookup_sql_config').output.value","type":"Expression"},"isSequential":true,"activities":[{"name":"Set variable4","type":"SetVariable","dependsOn":[],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"var_directory","value":{"value":"@item().directory","type":"Expression"}}},{"name":"Set variable5","type":"SetVariable","dependsOn":[{"activity":"Set variable4","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"var_sourceType","value":{"value":"@item().sourceType","type":"Expression"}}},{"name":"Set variable6","type":"SetVariable","dependsOn":[{"activity":"Set variable5","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"var_fileName","value":{"value":"@item().fileName","type":"Expression"}}},{"name":"Switch1","type":"Switch","dependsOn":[{"activity":"Set variable6","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"on":{"value":"@variables('var_sourceType') ","type":"Expression"},"cases":[{"value":"SQL","activities":[{"name":"Execute Pipeline5","type":"ExecutePipeline","dependsOn":[],"policy":{"secureInput":false},"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"sql_2_adls","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{"directory":{"value":"@pipeline().parameters.directory","type":"Expression"},"fileName":{"value":"@pipeline().parameters.fileName","type":"Expression"},"sourceType":{"value":"@pipeline().parameters.sourceType","type":"Expression"}}}}]},{"value":"REST","activities":[{"name":"Execute Pipeline6","type":"ExecutePipeline","dependsOn":[],"policy":{"secureInput":false},"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"sql_2_REST","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{"directory":{"value":"@pipeline().parameters.directory","type":"Expression"},"fileName":{"value":"@pipeline().parameters.fileName","type":"Expression"},"relativeUrl":"users"}}}]},{"value":"FTP","activities":[{"name":"Execute Pipeline7","type":"ExecutePipeline","dependsOn":[],"policy":{"secureInput":false},"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"sql_2_ftp","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{"directory":{"value":"@pipeline().parameters.directory","type":"Expression"},"fileName":{"value":"@pipeline().parameters.fileName","type":"Expression"},"sourceType":{"value":"@pipeline().parameters.sourceType","type":"Expression"}}}}]}]}}]}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"directory":{"type":"string"},"fileName":{"type":"string"},"sourceType":{"type":"string"}},"variables":{"var_directory":{"type":"String"},"var_fileName":{"type":"String"},"var_sourceType":{"type":"String"},"v_runId":{"type":"String"},"v_startTime":{"type":"String"},"v_endTime":{"type":"String"},"v_rowsCopied":{"type":"String"},"v_status":{"type":"String"},"v_errorMessage":{"type":"String"}},"annotations":[],"lastPublishTime":"2025-04-29T00:38:35Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]","[concat(variables('factoryId'), '/pipelines/sql_2_adls')]","[concat(variables('factoryId'), '/pipelines/sql_2_REST')]","[concat(variables('factoryId'), '/pipelines/sql_2_ftp')]"]},{"name":"[concat(parameters('factoryName'), '/AzureSqlTable1')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_SQL')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"sourceType","type":"nvarchar"},{"name":"sourceTable","type":"nvarchar"},{"name":"directory","type":"nvarchar"},{"name":"fileName","type":"nvarchar"},{"name":"outputFormat","type":"nvarchar"},{"name":"active","type":"bit"}],"typeProperties":{"schema":"dbo","table":"SourceConfig"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/sql_2_adls')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Copy data1","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":"SELECT * FROM [dbo].[SourceConfig] where active = 'True'","queryTimeout":"02:00:00","partitionOption":"None"},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"AzureSqlTable1","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"DelimitedText1","type":"DatasetReference","parameters":{"directory":{"value":"@pipeline().parameters.directory","type":"Expression"},"fileName":{"value":"@pipeline().parameters.fileName","type":"Expression"}}}]},{"name":"Stored procedure1","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"Set variable3","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[dbo].[sp1_audit_log]","storedProcedureParameters":{"directory":{"value":{"value":"@pipeline().parameters.directory","type":"Expression"},"type":"String"},"endTime":{"value":{"value":"@variables('v_endTime')","type":"Expression"},"type":"String"},"errorMessage":{"value":{"value":"@variables('v_errorMessage')","type":"Expression"},"type":"String"},"fileName":{"value":{"value":"@pipeline().parameters.fileName","type":"Expression"},"type":"String"},"rowsCopied":{"value":{"value":"@variables('v_rowsCopied')","type":"Expression"},"type":"String"},"sourceType":{"value":{"value":"@pipeline().parameters.sourceType","type":"Expression"},"type":"String"},"status":{"value":{"value":"@variables('v_status')","type":"Expression"},"type":"String"},"runId":{"value":{"value":"@variables('v_runId')","type":"Expression"},"type":"String"},"startTime":{"value":{"value":"@variables('v_startTime')","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('LS_SQL')]","type":"LinkedServiceReference"}},{"name":"Set variable1","type":"SetVariable","dependsOn":[{"activity":"Copy data1","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"v_endTime","value":{"value":"@utcNow()","type":"Expression"}}},{"name":"Set variable2","type":"SetVariable","dependsOn":[{"activity":"Set variable1","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"v_status","value":"\"Success\""}},{"name":"Set variable3","type":"SetVariable","dependsOn":[{"activity":"Set variable2","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"v_errorMessage","value":"''"}},{"name":"Set variable4","type":"SetVariable","dependsOn":[{"activity":"Copy data1","dependencyConditions":["Failed"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"v_status","value":"\"Failed\""}},{"name":"Set variable5","type":"SetVariable","dependsOn":[{"activity":"Set variable4","dependencyConditions":["Failed"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"v_errorMessage","value":{"value":"@activity('Copy data1').error.message\r\n","type":"Expression"}}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"directory":{"type":"string"},"fileName":{"type":"string"},"sourceType":{"type":"string"}},"variables":{"v_status":{"type":"String"},"v_endTime":{"type":"String"},"v_errorMessage":{"type":"String"},"v_rowsCopied":{"type":"String"},"v_runId":{"type":"String"},"v_startTime":{"type":"String"}},"annotations":[],"lastPublishTime":"2025-04-28T16:06:51Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]","[concat(variables('factoryId'), '/datasets/DelimitedText1')]"]},{"name":"[concat(parameters('factoryName'), '/sql_2_REST')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Copy data1","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"RestSource","httpRequestTimeout":"00:01:40","requestInterval":"00.00:00:00.010","requestMethod":"GET","paginationRules":{"supportRFC5988":"true"}},"sink":{"type":"JsonSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"JsonWriteSettings"}},"enableStaging":false},"inputs":[{"referenceName":"RestResource1","type":"DatasetReference","parameters":{"relativeUrl":{"value":"@pipeline().parameters.relativeUrl","type":"Expression"}}}],"outputs":[{"referenceName":"Json1","type":"DatasetReference","parameters":{"directory":{"value":"@pipeline().parameters.directory","type":"Expression"},"fileName":{"value":"@pipeline().parameters.fileName","type":"Expression"}}}]},{"name":"Stored procedure1","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"Set variable3","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[dbo].[sp1_audit_log]","storedProcedureParameters":{"directory":{"value":{"value":"@pipeline().parameters.directory","type":"Expression"},"type":"String"},"endTime":{"value":{"value":"@variables('v_endTime')","type":"Expression"},"type":"String"},"errorMessage":{"value":{"value":"@variables('v_errorMessage')","type":"Expression"},"type":"String"},"fileName":{"value":{"value":"@pipeline().parameters.fileName","type":"Expression"},"type":"String"},"rowsCopied":{"value":{"value":"@variables('v_rowsCopied')","type":"Expression"},"type":"String"},"runId":{"value":{"value":"@variables('v_runId')","type":"Expression"},"type":"String"},"sourceType":{"value":{"value":"@pipeline().parameters.sourceType","type":"Expression"},"type":"String"},"startTime":{"value":{"value":"@variables('v_startTime')","type":"Expression"},"type":"String"},"status":{"value":{"value":"@variables('v_status')","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('LS_SQL')]","type":"LinkedServiceReference"}},{"name":"Set variable1","type":"SetVariable","dependsOn":[{"activity":"Copy data1","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"v_endTime","value":{"value":"@utcNow()","type":"Expression"}}},{"name":"Set variable2","type":"SetVariable","dependsOn":[{"activity":"Set variable1","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"v_status","value":"\"Success\""}},{"name":"Set variable3","type":"SetVariable","dependsOn":[{"activity":"Set variable2","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"v_errorMessage","value":"''"}},{"name":"Set variable4","type":"SetVariable","dependsOn":[{"activity":"Copy data1","dependencyConditions":["Failed"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"v_status","value":"\"Failed\""}},{"name":"Set variable5","type":"SetVariable","dependsOn":[{"activity":"Set variable4","dependencyConditions":["Failed"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"v_errorMessage","value":{"value":"@activity('Copy data1').error.message\n","type":"Expression"}}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"directory":{"type":"string"},"fileName":{"type":"string"},"relativeUrl":{"type":"string"},"sourceType":{"type":"string"}},"variables":{"v_status":{"type":"String"},"v_endTime":{"type":"String"},"v_errorMessage":{"type":"String"},"v_rowsCopied":{"type":"String"},"v_runId":{"type":"String"},"v_startTime":{"type":"String"}},"annotations":[],"lastPublishTime":"2025-04-28T16:06:51Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/RestResource1')]","[concat(variables('factoryId'), '/datasets/Json1')]"]},{"name":"[concat(parameters('factoryName'), '/sql_2_ftp')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Copy data1","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"DelimitedText2","type":"DatasetReference","parameters":{"fileName":{"value":"@pipeline().parameters.fileName","type":"Expression"}}}],"outputs":[{"referenceName":"DelimitedText3","type":"DatasetReference","parameters":{}}]},{"name":"Set variable1","type":"SetVariable","dependsOn":[{"activity":"Copy data1","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"v_endTime","value":{"value":"@utcNow()","type":"Expression"}}},{"name":"Set variable2","type":"SetVariable","dependsOn":[{"activity":"Set variable1","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"v_status","value":"\"Success\""}},{"name":"Set variable3","type":"SetVariable","dependsOn":[{"activity":"Set variable2","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"v_errorMessage","value":"\"\""}},{"name":"Stored procedure2","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"Set variable3","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[dbo].[sp1_audit_log]","storedProcedureParameters":{"directory":{"value":{"value":"@pipeline().parameters.directory","type":"Expression"},"type":"String"},"endTime":{"value":{"value":"@variables('v_endTime')","type":"Expression"},"type":"String"},"errorMessage":{"value":{"value":"@variables('v_errorMessage')","type":"Expression"},"type":"String"},"fileName":{"value":{"value":"@pipeline().parameters.fileName","type":"Expression"},"type":"String"},"rowsCopied":{"value":{"value":"@variables('v_rowsCopied')","type":"Expression"},"type":"String"},"runId":{"value":{"value":"@variables('v_runId')","type":"Expression"},"type":"String"},"sourceType":{"value":{"value":"@pipeline().parameters.sourceType","type":"Expression"},"type":"String"},"startTime":{"value":{"value":"@variables('v_startTime')","type":"Expression"},"type":"String"},"status":{"value":{"value":"@variables('v_status')","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('LS_SQL')]","type":"LinkedServiceReference"}},{"name":"Set variable4","type":"SetVariable","dependsOn":[{"activity":"Copy data1","dependencyConditions":["Failed"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"v_status","value":"\"Failed\""}},{"name":"Set variable5","type":"SetVariable","dependsOn":[{"activity":"Set variable4","dependencyConditions":["Failed"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"v_errorMessage","value":{"value":"@activity('Copy data1').error.message\n","type":"Expression"}}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"directory":{"type":"string"},"fileName":{"type":"string"},"sourceType":{"type":"string"}},"variables":{"v_status":{"type":"String"},"v_endTime":{"type":"String"},"v_errorMessage":{"type":"String"},"v_rowsCopied":{"type":"String"},"v_runId":{"type":"String"},"v_startTime":{"type":"String"}},"annotations":[],"lastPublishTime":"2025-04-28T16:12:02Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/DelimitedText2')]","[concat(variables('factoryId'), '/datasets/DelimitedText3')]"]},{"name":"[concat(parameters('factoryName'), '/DelimitedText1')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"parameters":{"directory":{"type":"string"},"fileName":{"type":"string"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@pipeline().parameters.fileName ","type":"Expression"},"fileSystem":"csv"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/RestResource1')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('RestService1')]","type":"LinkedServiceReference"},"parameters":{"relativeUrl":{"type":"string"}},"annotations":[],"type":"RestResource","typeProperties":{"relativeUrl":{"value":"@dataset().relativeUrl","type":"Expression"}},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Json1')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"parameters":{"directory":{"type":"string"},"fileName":{"type":"string"}},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileSystem":"csv"}},"schema":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/DelimitedText2')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"parameters":{"fileName":{"type":"string"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@dataset().fileName","type":"Expression"},"fileSystem":"ftpfiles"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"Card Type Full Name","type":"String"},{"name":"Issuing Bank","type":"String"},{"name":"Card Number","type":"String"},{"name":"Card Holder's Name","type":"String"},{"name":"CVV/CVV2","type":"String"},{"name":"Issue Date","type":"String"},{"name":"Expiry Date","type":"String"},{"name":"Billing Date","type":"String"},{"name":"Card PIN","type":"String"},{"name":"Credit Limit","type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/DelimitedText3')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileSystem":"output-files"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"Card Type Full Name","type":"String"},{"name":"Issuing Bank","type":"String"},{"name":"Card Number","type":"String"},{"name":"Card Holder's Name","type":"String"},{"name":"CVV/CVV2","type":"String"},{"name":"Issue Date","type":"String"},{"name":"Expiry Date","type":"String"},{"name":"Billing Date","type":"String"},{"name":"Card PIN","type":"String"},{"name":"Credit Limit","type":"String"}]},"dependsOn":[]}]}