pipelines/sql_2_REST.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"LS_SQL":{"type":"string"},"RestService1":{"type":"string"},"AzureDataLakeStorage1":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/sql_2_REST')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Copy data1","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"RestSource","httpRequestTimeout":"00:01:40","requestInterval":"00.00:00:00.010","requestMethod":"GET","paginationRules":{"supportRFC5988":"true"}},"sink":{"type":"JsonSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"JsonWriteSettings"}},"enableStaging":false},"inputs":[{"referenceName":"RestResource1","type":"DatasetReference","parameters":{"relativeUrl":{"value":"@pipeline().parameters.relativeUrl","type":"Expression"}}}],"outputs":[{"referenceName":"Json1","type":"DatasetReference","parameters":{"directory":{"value":"@pipeline().parameters.directory","type":"Expression"},"fileName":{"value":"@pipeline().parameters.fileName","type":"Expression"}}}]},{"name":"Stored procedure1","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"Set variable3","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[dbo].[sp1_audit_log]","storedProcedureParameters":{"directory":{"value":{"value":"@pipeline().parameters.directory","type":"Expression"},"type":"String"},"endTime":{"value":{"value":"@variables('v_endTime')","type":"Expression"},"type":"String"},"errorMessage":{"value":{"value":"@variables('v_errorMessage')","type":"Expression"},"type":"String"},"fileName":{"value":{"value":"@pipeline().parameters.fileName","type":"Expression"},"type":"String"},"rowsCopied":{"value":{"value":"@variables('v_rowsCopied')","type":"Expression"},"type":"String"},"runId":{"value":{"value":"@variables('v_runId')","type":"Expression"},"type":"String"},"sourceType":{"value":{"value":"@pipeline().parameters.sourceType","type":"Expression"},"type":"String"},"startTime":{"value":{"value":"@variables('v_startTime')","type":"Expression"},"type":"String"},"status":{"value":{"value":"@variables('v_status')","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('LS_SQL')]","type":"LinkedServiceReference"}},{"name":"Set variable1","type":"SetVariable","dependsOn":[{"activity":"Copy data1","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"v_endTime","value":{"value":"@utcNow()","type":"Expression"}}},{"name":"Set variable2","type":"SetVariable","dependsOn":[{"activity":"Set variable1","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"v_status","value":"\"Success\""}},{"name":"Set variable3","type":"SetVariable","dependsOn":[{"activity":"Set variable2","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"v_errorMessage","value":"''"}},{"name":"Set variable4","type":"SetVariable","dependsOn":[{"activity":"Copy data1","dependencyConditions":["Failed"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"v_status","value":"\"Failed\""}},{"name":"Set variable5","type":"SetVariable","dependsOn":[{"activity":"Set variable4","dependencyConditions":["Failed"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"v_errorMessage","value":{"value":"@activity('Copy data1').error.message\n","type":"Expression"}}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"directory":{"type":"string"},"fileName":{"type":"string"},"relativeUrl":{"type":"string"},"sourceType":{"type":"string"}},"variables":{"v_status":{"type":"String"},"v_endTime":{"type":"String"},"v_errorMessage":{"type":"String"},"v_rowsCopied":{"type":"String"},"v_runId":{"type":"String"},"v_startTime":{"type":"String"}},"annotations":[],"lastPublishTime":"2025-04-28T16:06:51Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/RestResource1')]","[concat(variables('factoryId'), '/datasets/Json1')]"]},{"name":"[concat(parameters('factoryName'), '/RestResource1')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('RestService1')]","type":"LinkedServiceReference"},"parameters":{"relativeUrl":{"type":"string"}},"annotations":[],"type":"RestResource","typeProperties":{"relativeUrl":{"value":"@dataset().relativeUrl","type":"Expression"}},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Json1')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"parameters":{"directory":{"type":"string"},"fileName":{"type":"string"}},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileSystem":"csv"}},"schema":{}},"dependsOn":[]}]}